* {
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #c2c2c2;
}

body {
    background: #EAEAEA;
    overflow-x: hidden;
}

/* Search */

.search {
    margin: 3% 0 0 5.8%;
}

input[type="search"] {
    border: none;
    font-family: 'Arial', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    background: #EAEAEA;
}

input[type="search"]:focus {
    outline: none;
    color:#ec5a62;
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }  

input[type="submit"] {
    position:  absolute;
    background: url(../img/icon.svg);
    width: 4%;
    height: 7%;
    top: 8%; 
    right: 23.6%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Table */

.container {
    display: inline-block;    
    width: 280px;
    margin: 3% 6% auto;
}

span {
    display: grid; 
}

ul {
    font-size: 0;
}

ul li{
    list-style: none;
    margin: 2% 0;
}

a {
    position: relative;
    height: 4em;
    text-decoration: none; 
    background:rgba(118,117,128,0.05);
    font-size: 1.2rem;
    transition: all .1s ease-in;
}

a:hover {
    background:rgba(118,117,128,0.1);
    color: #ec5a62;
}

.cont-1 img {
    border-radius: 50%;
}




